.home-page{
    display: flex;
    align-items: center;
}
.register-container{
    width: 350px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(38, 52, 70, 0.1);
    border-radius: 2px;
    margin-right: 18%;
    padding: 51px 36px 68px 36px;
    text-align: center;
    width: 350px;
    margin-bottom: 56px;
}
.register-form{
    padding-top: 30px;
}
.home-tabs{
    padding-right: 200px;
}
.background-home{
    background-color: #f9f9f9;
}